<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <img src="../assets/img/1234.png" alt="Evento"
                width="65%"
                />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-text-align-right"></span>
            </button>
            <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
                <ul class=" nav navbar-nav menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item"
                    routerLinkActive="active"
                    >
                        <a class="nav-link "  href="/thinktank" >Think Tank</a>
                    </li>
                    <li class="nav-item"
               
                    >
                        <a class="nav-link " 
                        href="/events"
                        >Events</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="https://aic.snu.edu.in">AIC SNU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/team">Team</a>
                    </li>
                 
                </ul>
            </div>
        </div>
    </header>
    <!--header end here-->
    