<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="assets/img/team.jpeg">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                       Meet the Team
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a>  |   </li>
                <li><span>Team</span></li>
            </ul>
        </div>
    </div>
</section>

<br>

<section class="pb100">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                   our Core
                </h3>
            </div>
        </div>
        <div class="row justify-content-center no-gutters">
            <div class="col-md-4 col-sm-6 col-xs-4">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/rahul.jpeg?alt=media&token=8b058d57-3a90-427f-915b-be4090b7a264" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">Rahul Goyal</h5>
                            <p class="position">Secretary</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-4">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/anubha.jpg?alt=media&token=883dff91-5a94-40bc-b7ce-cc95adf5b1df" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">Anubha Hajela</h5>
                            <p class="position">Associate Secretary 1</p>
                        </div>
                    </div>
                </div>
    
            </div>

            <div class="col-md-4 col-sm-6 col-xs-4">
                <div class="speaker_box">
                    <div class="speaker_img">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/dvs.jpeg?alt=media&token=76b29f1e-4565-440d-aadb-255323789b1f" class="img-responsive" alt="team img">
                            <div class="info_box">
                            <h5 class="name">DV Shiva Siddarth</h5>
                            <p class="position">Associate Secretary 2</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <div class="col-md-1 col-sm-6 col-xs-1"></div> -->

                <div class="col-md-4 col-sm-6 col-xs-4">
                        <div class="speaker_box">
                            <div class="speaker_img">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/suhani.png?alt=media&token=a043210e-1de7-4e34-91e2-066861d41817" class="img-responsive" alt="team img">
                                    <div class="info_box">
                                    <h5 class="name"> Suhani</h5>
                                    <p class="position">Treasurer</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-4">
                            <div class="speaker_box">
                                <div class="speaker_img">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/ananya.jpg?alt=media&token=f7fd6cdf-18fa-4559-9891-1bf44cda20c4" class="img-responsive" alt="team img">
                                        <div class="info_box">
                                        <h5 class="name">Ananya Gaba</h5>
                                        <p class="position"> Freshman Coordinator  </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

           
    </section> 

    <section class="pb100">
            <div class="container">
                <div class="section_title mb50">
                    <h3 class="title">
                       our team heads
                    </h3>
                </div>
            </div>
            <div class="row justify-content-center no-gutters">
                <div class="col-md-3 col-sm-6">
                    <div class="speaker_box">
                        <div class="speaker_img">
                                <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/shreya.png?alt=media&token=c03595e9-539e-4b3c-aa86-0b884cc951f8" class="img-responsive" alt="team img">
                                <div class="info_box">
                                <h5 class="name">Shreya</h5>
                                <p class="position">Sponsorship</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <a href="https://www.linkedin.com/in/davidnallapu/">
                                <img  src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/david.png?alt=media&token=c96e1a76-418a-4126-b436-a22bf8431f1a" class="img-responsive" alt="team img">
                            </a>
                              
                            <div class="info_box">
                                <h5 class="name">David Nallapu</h5>
                                <p class="position">Web Dev and Content</p>
                            </div>
                        </div>
                    </div>
        
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="speaker_box">
                        <div class="speaker_img">
                                <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/marketing.jpeg?alt=media&token=a6ad0456-baf2-48af-a99b-79c04e1d0992" class="img-responsive" alt="team img">
                                <div class="info_box">
                                <h5 class="name">Hrithik</h5>
                                <p class="position">Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="speaker_box">
                        <div class="speaker_img">
                                <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/prabhav.jpeg?alt=media&token=be41bd34-ead2-497a-a9a9-fa3365674d1f" class="img-responsive" alt="team img">
                                <div class="info_box">
                                <h5 class="name">Prabhav</h5>
                                <p class="position">Content</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/hrithvika.png?alt=media&token=7eab61ae-5e03-401d-a737-946388bea6f1" alt="speaker name">
                            <div class="info_box">
                                <h5 class="name">Hrithvika</h5>
                                <p class="position">Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/kaustav.png?alt=media&token=36f63025-5e8c-4c94-aed3-111857a64764" alt="speaker name">
                            <div class="info_box">
                                <h5 class="name">Kaustuv</h5>
                                <p class="position">Marketing & PR</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/adhitya.jpeg?alt=media&token=f40fd3a0-e0b8-4dbf-a893-6a2859139f45" alt="speaker name">
                            <div class="info_box">
                                <h5 class="name">Adithya</h5>
                                <p class="position">Finance</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ecell-app-snu.appspot.com/o/dhruv.jpg?alt=media&token=3a7b4d7e-f119-4dde-83d6-84fc0260b6d1" alt="speaker name">
                            <div class="info_box">
                                <h5 class="name">Dhruv</h5>
                                <p class="position">Videography</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 

    
