
<div class="col-xs-12">
    <section id="home" class="home-cover">
        <div class="cover_slider owl-carousel owl-theme">
            <div class="cover_item" style="background: url('../assets/img/team.jpeg');">
                 <div class="slider_content">
                    <div class="slider-content-inner">
                        <div class="container">
                            <div class="slider-content-center">
                                <h2 class="cover-title">
                                    Prepare yourself for the <br>first ever
                                </h2>
                                <strong class="cover-xl-text">E-Summit </strong>
                                <p class="cover-date">
                                    January 2020 - SNU
                                </p>
                                <a  class=" btn btn-primary btn-rounded" >
                                    Coming Soon
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover_item" style="background: url('../assets/img/mela.jpeg');">
                <div class="slider_content">
                    <div class="slider-content-inner">
                        <div class="container">
                            <div class="slider-content-center">
                                <h2 class="cover-title">
                                    E-Cell at
                                </h2>
                                <!-- <strong class="cover-xl-text">E-Cell at </strong> -->
                                <hr>
                                <strong class="cover-xl-text">Serotonia '19</strong>
                                <p class="cover-date">
                                    In case you missed any of our events.
                                </p>
                                <a href="/events" class=" btn btn-primary btn-rounded" >
                                    Check them out here
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover_item" style="background: url('../assets/img/back2.jpeg');">
                <div class="slider_content">
                   <div class="slider-content-inner">
                       <div class="container">
                           <div class="slider-content-center">
                               <h2 class="cover-title">
                                   E-Cell SNU's exclusive
                               </h2>
                               <strong class="cover-xl-text">Think Tank </strong>
                             
                               <a href="/thinktank" class=" btn btn-primary btn-rounded" >
                                   Check it out now
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

        </div>
        <div class="cover_nav">
            <ul class="cover_dots">
                <li class="active" data="0"><span>1</span></li>
                <li  class="active" data="1"><span>2</span></li>
                <li  class="active" data="2"><span>3</span></li>
            </ul>
        </div>
    </section>
    <!--cover section slider end -->

    
    <!--about the event -->
    <section class="pt100 pb100">
        <div class="container">
            <div class="section_title">
                <h3 class="title">
                    About E-Cell SNU
                </h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-12">
                    <p>
                            The Entrepreneurship Cell of Shiv Nadar University is a student-run club, functioning under the aegis of Atal Incubation Centre, Niti Aayog, to cultivate this practice amongst the students of our prestigious institution. 
                            <br><br>
                            <strong>Vision:</strong> 
                            E-cell Shiv Nadar University strives to provide a platform for students and faculty to create, innovate, incubate and realize their entrepreneurial dreams while encouraging to “think upside down” to venture beyond the normal.  
                            <br>
                            <br>
                            <strong> Mission: </strong>

                            To build an atmosphere to foster healthy discussions and ideas for students to take their entrepreneurial zeal to greater heights. We conduct sessions, interactive activities and workshops to nourish startup ideas and develop a strong network among the student base. We also provide an opportunity for incubation which handholds them until they are self-sustaining. We aim to create an approachable community where just an idea can be transformed into a working business model. 
                            
                    </p>
                </div>
            </div>
    
            <!--event features-->
            <div class="row justify-content-center mt30">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="icon_box_one">
                        <i class="lnr lnr-users"></i>
                        <div class="content">
                            <h5>Workshops</h5>
                            <p>
              Workshops to develop a better understanding of the entrepreneurial and corporate world have been conducted on pitching, finance, bootcamps, design thinking, brand building, ideation, marketing which engages students to interact and apply their stimuli. 

                            </p>
                  
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="icon_box_one">
                        <i class="lnr lnr-apartment"></i>
                        <div class="content">
                            <h5>Think Tank Series</h5>
                            <p>
                                    Ecell SNU kickstarted it's E-Cell exclusive- THINK TANK series. It takes us through multiple modules ranging from all aspects of entrepreneurship where the members contribute to the pool through interactive sessions. 

                            </p>
       
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="icon_box_one">
                        <i class="lnr lnr-rocket"></i>
                        <div class="content">
                            <h5>Venture Challenge</h5>
                            <p>
                                    This is a one-of-its-kind B-Plan competition: with funds of ₹ 1,00,00,000 at stake. Just participation also grants access to a large network of experts and a complete entrepreneurial ecosystem at SNU. 
                                </p>
        
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="icon_box_one">
                        <i class="lnr lnr-clock"></i>
                        <div class="content">
                            <h5>Game changers</h5>
                            <p>
                                    Interactive sessions to celebrate the spirit of World Entrepreneurs' Day with some of the best entrepreneurial minds in India. The event saw an audience of 300+ and was a pivotal event for E-cell, after which promotion of entrepreneurship accelerated                            </p>
                   
                        </div>
                    </div>
                </div>
            </div>
            <!--event features end-->
        </div>
    </section>

    <div class="container">
        <h2>Instagram Feed</h2>
            <div id="instafeed" class="row">
             

            </div>
    </div>
    <!--about the event end -->
    <!--event calender-->
    <section class="pb100">
        <div class="container" >
            <div class="col-xs-12">
                    <div class="table-responsive">
                            <table class="event_calender table">
                                <thead class="event_title">
                                <tr>
                                    <th>
                                        <i class="ion-ios-calendar-outline"></i>
                                        <span>next events calendar</span>
                                    </th>
                                    
                                   
                                </tr>
                                </thead>
                                
            
            
                                
                                <tbody>
                                        <div class="container" *ngFor="let item of calenderList.reverse();">
                                <tr>
                                    <td>
                                        <img src="{{item.img}}" alt="event">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="event_date">
                                        {{item.day}}
                                        <span>{{item.month}}</span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="event_place">
                                            <h5>{{item.event}}</h5>
                                            <h6>{{item.time}}</h6>
                                            <p>{{item.desc}}</p>
                                        </div>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                </div>
                                </tbody>
                            </table>
                        </div>
            </div>
            
        </div>
    </section>
    <!--event calender end -->
    
    <!--brands section -->
    <section class="bg-gray pt100 pb100">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                    our partners
                </h3>
            </div>
            <div class="brand_carousel owl-carousel">
                
                    <img src="../assets/img/brands/1.png"  alt="brand">
                
                
                    <img src="../assets/img/brands/12.png" alt="brand">
                
    
                
                    <img src="../assets/img/brands/3.png" alt="brand">
                
                
                    <img src="../assets/img/brands/4.png" alt="brand">
              
              
                    <img src="../assets/img/brands/5.png" alt="brand">
               
                    <img src="../assets/img/brands/6.png" alt="brand">
          
                
                    <img src="../assets/img/brands/7.png" alt="brand">
               
    
     
                    <img src="../assets/img/brands/8.png" alt="brand">
                
 
                    <img src="../assets/img/brands/9.jpg" alt="brand">
   
         
                    <img src="../assets/img/brands/10.png" alt="brand">
         
         
                    <img src="../assets/img/brands/11.png" alt="brand">
           
         
                    <img src="../assets/img/brands/2.png" alt="brand">
   
         
                    <img src="../assets/img/brands/13.png" alt="brand">
          
         
                    <img src="../assets/img/brands/14.png" alt="brand">
        
    
            </div>
        </div>
    </section>

    
</div>
